.cart-dropdown {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    position: absolute;
    top: 90px;
    right: 60px;
    z-index: 6;
    background-color: #fff;
    overflow: scroll;
    padding: 20px;

    .btn-container {
        margin: 10px 0;
        padding-bottom: 20px;
        width: 100%;
    }

    .empty-cart {
        display: inline-block;
        margin: auto;
    }
}